.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
    background-color: lightskyblue;
    padding: 10px 62px;
  }
  .header_sign {
    padding: 9px 30px 9px 30px;
    text-decoration: none;
    background-color: lightskyblue;
    color: black;
    vertical-align: center;
    border: 1px solid black;
  }
  .header_sign:hover {
    box-shadow: 1px 1px 13px 1px #0c3074;
  }
  .header_sign:active {
    box-shadow: 1px 1px 1px 1px #0c3074;
  }